%h1 Users roles

%table
  %tr
    %th User id
    %th Role id
  - @roles_users.each do |user_role|
    %tr
      %td= user_role.user_id
      %td= user_role.role_id
      %td= link_to "Edit", edit_admin_roles_user_path(id: user_role.user_id)