.alert {
	&-danger  { background-color: $brand-danger;  }
	&-warning { background-color: $brand-warning; }
	&-success { background-color: $brand-success; }
	&-info    { background-color: $brand-info;    }
}