input,
textarea,
select {
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	// Remove weird iOS styling
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

label {
	// Temp style for easier dev
	display: block;
	margin-top: 1em;
}
