// tmp for dev

#flash-message {
	margin: 0;
}

#nav-logo {
	width: 100%;
	max-width: 64px;
}

#nav-main,
#nav-admin,
#nav-superadmin {
	width: 100%;
	background-color: #222;
	color: #fff;
	padding: 1em;

	a {
		color: #fff;
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		list-style-type: none;

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
	}
}

#nav-superadmin {
	background-color: #333;
}

#nav-admin {
	background-color: #444;
}