// html is set to 62.5% so that all the REM measurements
// are based on 10px sizing. So basically 1.5rem = 15px.
html {
	font-size: 62.5%;
	line-height: $t-line-height-base;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: $t-font-size-base;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
}

h1 { line-height: $t-line-height-base - 0.4;  letter-spacing: -0.1rem;}
h2 { line-height: $t-line-height-base - 0.35; letter-spacing: -0.1rem; }
h3 { line-height: $t-line-height-base - 0.3;  letter-spacing: -0.1rem; }
h4 { line-height: $t-line-height-base - 0.25; letter-spacing: -0.08rem; }
h5 { line-height: $t-line-height-base - 0.1;  letter-spacing: -0.05rem; }
h6 { line-height: $t-line-height-base;        letter-spacing: 0; }

@media (max-width: $m) {
	h1 { font-size: 4.0rem }
	h2 { font-size: 3.6rem }
	h3 { font-size: 3.0rem }
	h4 { font-size: 2.4rem }
	h5 { font-size: 1.8rem }
	h6 { font-size: 1.5rem }	
}

@media (min-width: $m-up) {
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  line-height: $t-line-height-base;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// Remove the inheritance of text transform in Firefox.
button,
select {
	text-transform: none;
}

code,
kbd,
samp,
pre {
	font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em;                    // Correct the odd `em` font sizing in all browsers.
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit;              // 2
}