%h1 Admin page

%table
  %thead
    %tr
      %th
        %h2 Posts
  %tbody
    %tr
      %td
        = link_to 'All posts', admin_posts_path
        = link_to 'New post', new_admin_post_path
    %tr
      %td
        = render 'admin/posts/posts'
