@import "_variables";
@import "~quill/dist/quill.snow.css";

.wysiwyg {
	&-editor {
		p {
			font-family: $font-family-sans-serif;
			font-size: 1.5rem;
			line-height: 1.6;
		}

		.ql{
			&-size {
				&-huge {
					font-family: $font-family-serif-black;
					font-size: 4rem;
					line-height: 1em;
				}

				&-large {
					font-family: $font-family-serif-bold;
					font-size: 3rem;
					line-height: 1em;
				}

				&-small {
					font-family: $font-family-sans-serif-light;
					font-size: 1rem;
					line-height: 1em;
				}
			}
		}

		.ql-editor {
			min-height: 15em;
			max-height: 40em;
		}

		.blot-formatter__toolbar-button {
			border: 0;
		}

		&-drag-active {
			position: relative;
			background-color: rgba(#000000, 0.1) !important;

			&:after {
				content: 'Drop to upload';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}