/ %h1
/   = @post.title

/ %p
/   %strong Text:
/   = @post.text

/ %p
/   %strong Categories:
/ %ul
/   - @post_category.each do |category|
/     %li
/       = category.name

/ %p
/   %strong Type:
/   = @post_type.name

%hr

%p
  %strong Post:
%pre
  = @post.inspect
/ %pre
/   = @post.post_type.inspect
/ %pre
/   = @post.post_categories.inspect
/ %pre
/   = @post.post_tags.inspect

/ %p
/   %strong Post category:
/ %pre
/ = @post_category.inspect

/ %p
/   %strong Post type:
/ %pre
/ = @post_type.inspect