%ul
  %li
    = link_to 'General settings', '/admin/site_settings/general'
  %li
    = link_to 'Brand settings', '/admin/site_settings/brand'
  %li
    = link_to 'Appearance settings', '/admin/site_settings/appearance'